


<div class="container">

  <div class="row">

      <div class="col-md-12">
          <ul class="nav nav-pills">
              <li role="presentation"><a routerLink="/dashboard">Repairs</a></li>
              <li role="presentation"><a routerLink="/customers">Customers</a></li>
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  Manage <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li role="presentation"><a routerLink="/states">States</a></li>
                  <li role="presentation"><a routerLink="/equipments">Equipment Type</a></li>
                  <li role="presentation"><a routerLink="/brands">Brand</a></li>
                  <li role="presentation"><a routerLink="/models">Model</a></li>
                  <li role="presentation"><a routerLink="/employees">Employees</a></li>
                  
                </ul>
              </li>
              <li role="presentation"><a routerLink="/">LogOut</a></li>
            </ul>

      </div>
      
    </div>

  </div>